[submodule "OverTime/external/spdlog"]
	path = OverTime/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OverTime/external/glfw"]
	path = OverTime/external/glfw
	url = https://github.com/glfw/glfw
