[submodule "OverTime/external/spdlog"]
	path = OverTime/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OverTime/external/glfw"]
	path = OverTime/external/glfw
	url = https://github.com/glfw/glfw
[submodule "OverTime/external/imgui"]
	path = OverTime/external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "OverTime/external/glm"]
	path = OverTime/external/glm
	url = https://github.com/g-truc/glm.git
